/* font-family: "DroidSansRegular"; */
@font-face {
	font-family: "DroidSansRegular";
	src: url("../fonts/DroidSans/droidsans-webfont.woff") format("woff"),
	url("../fonts/DroidSans/droidsans-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "DroidSansBold"; */
@font-face {
	font-family: "DroidSansBold";
	src: url("../fonts/DroidSansBold/droidsans-bold-webfont.woff2") format("woff2"),
	url("../fonts/DroidSansBold/droidsans-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LatoBlack"; */
@font-face {
	font-family: "LatoBlack";
	src: url("../fonts/LatoBlack/lato-black-webfont.woff2") format("woff2"),
	url("../fonts/LatoBlack/lato-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LatoBold"; */
@font-face {
	font-family: "LatoBold";
	src: url("../fonts/LatoBold/lato-bold-webfont.woff2") format("woff2"),
	url("../fonts/LatoBold/lato-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
	font-family: "LatoBoldItalic";
	src: url("../fonts/LatoBoldItalic/lato-bolditalic-webfont.woff2") format("woff2"),
	url("../fonts/LatoBoldItalic/lato-bolditalic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LatoLight"; */
@font-face {
	font-family: "LatoLight";
	src: url("../fonts/LatoLight/lato-light-webfont.woff2") format("woff2"),
	url("../fonts/LatoLight/lato-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LatoRegular"; */
@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoRegular/lato-regular-webfont.woff2") format("woff2"),
	url("../fonts/LatoRegular/lato-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
