/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
  .slaider__box {
    top: 37%;
  }
  .unslider-nav {
    top: -40px;
  }
  .slaider__title {
    font-size: 36px;
  }
  .slaider__text {
    font-size: 15px;
  }
  .btn--left,
  .btn--right {
    padding: 15px 32px;
    font-size: 13px;
    margin-bottom: 20px;
  }
}

/* Medium Devices, Desktops */
@media screen and (max-width : 990px) {
  .slaider__box {
    top: 30%;
  }
  .slaider__title {
    font-size: 28px;
  }
  .slaider__text {
    font-size: 13px;
  }
  .btn--left,
  .btn--right {
    padding: 12px 25px;
    font-size: 13px;
  }
  .video__title {
    font-size: 36px;
  }
  .video__text {
    font-size: 16px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 870px) {
  .header {
    position: static;
    background-color: #0f1c2d;
  }
  .header__logo {
    float: none;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
  }
  .menu {
    float: none;
    margin: 0 auto;
  }
  .menu__item a {
    padding: 29px 0;
  }
  .slaider__box {
    top: 20%;
  }
  .video__box {
    top: 50%;
  }
  .video__title {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .video__text {
    font-size: 14px;
  }
  .review__box {
    margin-left: 25%;
    transform: translateX(-25%);
  }
  .review__text {
    font-size: 11px;
  }
  .unslider-nav {
    top: -50px;
  }
  .unslider-nav ol li {
    width: 10px;
    height: 10px;
  }
  .download__title {
    font-size: 40px;
  }
  .download__link {
    padding: 15px 22px;
    font-size: 12px;
  }
  .review__author {
    padding-bottom: 100px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .slaider__device {
    display: none;
  }
  .slaider__title {
    font-size: 24px;
    line-height: 24px;
  }
  .slaider__text {
    font-size: 12px;
  }
  .btn--left,
  .btn--right {
    padding: 9px 16px;
    font-size: 10px;
  }
  .slaider__for {
    font-size: 12px;
  }
  .video__title {
    font-size: 25px;
  }
  .video__text {
    font-size: 11px;
    line-height: 12px;
  }
  .feature__item,
  .gallery__item {
    width: 47%;
    margin-right: 6%;
  }
  .feature__item:nth-child(2n),
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
  .package__type {
    float: left;
    width: 45%;
    margin: 0 2.5%;
    margin-bottom: 30px;
  }
  .feature__text {
    margin-bottom: 70px;
  }
  .review__text {
    font-size: 10px;
  }
  .review__author {
    font-size: 12px;
  }
  .download__title {
    font-size: 30px;
  }
  .download__link {
    padding: 12px 18px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 735px) {
  .btn--left,
  .btn--right {
    padding: 8px 15px;
    font-size: 10px;
  }
  .feature__title,
  .gallery__title,
  .package__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .gallery__text {
    margin-bottom: 40px;
  }
  .feature__text {
    margin-bottom: 50px;
  }
  .unslider-nav ol li {
    width: 6px;
    height: 6px;
  }
  .unslider-nav {
    top: -40px;
  }
  .reviews + .unslider-nav ol li {
    width: 40px;
    height: 4px;
  }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .btn--left,
  .btn--right {
    padding: 5px 12px;
    font-size: 8px;
  }
  .slaider__title {
    margin-bottom: 40px;
  }
  .gallery__item {
    display: block;
    width: 90%;
    margin: 0 5%;
  }
  .gallery__descript {
    top: 83%;
  }
  .package__type {
    float: none;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 30px;
  }
  .slaider__text {
    display: none;
  }
  .video__title,
  .video__text {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .feature__item {
    width: 100%;
    margin-right: 0;
  }
  .review__box {
    margin-left: 0;
    transform: translateX(0);
  }
  .package__type {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {
  .btn--left,
  .btn--right {
    display: none;
  }
}
