body {
  min-width: 320px;
  font-size: 13px;
  line-height: 22px;
  font-family: "LatoRegular", "Arial", sans-serif;
  color: #838383;
  background-color: #fff;
}


/* index.html begin
/*==============================*/












/* end index.html
/*==============================*/
